<main class="container">
  <div class="aside">
    <h1>A Variety of Reactive Angular Forms</h1>
  </div>
  <div class="row-1">
    <h3>Basic Reactive Form</h3>
    <app-basic-form></app-basic-form>
  </div>
  <div class="row-2">
    <h3>Nested Reactive Form</h3>
    <app-nested-form></app-nested-form>
  </div>
  <div class="row-3">
    <h3>Dynamic Reactive Form</h3>
    <app-dynamic-form></app-dynamic-form>
  </div>
  <div class="row-4">
    <h3>Validated Reactive Form</h3>
    <app-validated-form></app-validated-form>
  </div>
  
</main>

<router-outlet></router-outlet>