<form [formGroup]="myForm">
    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
        
        <mat-error *ngIf="email.invalid && email.touched">
            Your email does not look right
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password"
        autocomplete="new-password">
        
        <mat-hint align="end">Must have one letter, and one number</mat-hint>
        <mat-error *ngIf="password.invalid && password.touched">
            That password sucks...
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="age" [value]="0" formControlName="age">
        <mat-error *ngIf="age.errors?.min && age.touched">
            {{ age.errors.min.actual }} is young to use this app kiddo!
        </mat-error>
        <mat-error *ngIf="age.errors?.max && age.touched">
            {{ age.errors.max.actual }} is too old to use this app gramps!
        </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="myForm.invalid || loading" color="primary">
        Let's Do It!
    </button>
</form>
